.contact-maps {
 	position: absolute;
	width: 100%;
	height: 100%;
 
 
}
.contact-maps > div  {
	width: 100%;
	height: 100%;
	background-color: transparent !important;
  	
 
}

.contact-overlay {
  	position: absolute;
	width: 100%;
	height: 100%;
 	background-color: rgba(16,16,16,0.6);
 
 
}
 

.contact-method {
 
 
	.icon:before {
		padding-left: 0;
		margin-left: 0;
	}
 
  	padding:0 4rem 2rem 0;
 
 	 
 	display: inline-block;
 
	p {
 
		 margin: 0;
	} 

}