footer {
      display: none;
     @include mq($from: md) {
      display: inline-block;
 
    }

  @extend %row;
  .footer-wrapper {
    transition: opacity 350ms ease-out, transform 350ms ease-out;
    backface-visibility: hidden; //promote layer to prevent repaint
    background-color: #151515;
    border-top: 2px solid #171717;
    
 p {
  line-height: tick(0.75);
   @include mq($from: md) {
         line-height: tick();
      }
  }
   
  }
 
  @include mq($from: md) {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .left {
  @extend %xs-24;
  @extend %sm-24;
  @extend %md-4;
  @extend %lg-6;
  @extend %xl-7;
  }

  .right {
    @extend %md-offset-2;
 
  @extend %xs-24;
  @extend %sm-24;
  @extend %md-18;
  @extend %lg-16;
  @extend %xl-15;
  }


  .right, .left {
    padding: 0;
    p {
      padding: 0;
      margin: 0 1rem 0 0;
      font-size: 1rem;
      @include mq($from: md) {
      font-size: 0.8rem;
      }
      @include mq($from: lg) {
         margin: 0 2rem 0 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }



 
}

