footer {
  @extend %row;
  .footer-wrapper {
    transition: opacity 350ms ease-out, transform 350ms ease-out;
    backface-visibility: hidden; //promote layer to prevent repaint
    background-color: #101010;
    line-height: tick();
  }
  @include mq($from: md) {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  a {
    font-size: 1rem;
    margin: 0 0.5rem;
  } 
  .footer-left {
    @include left-column-content();
  }
  .footer-right {
    @include right-column-block();
 
  }
}

