*::selection {
  color: #ffffff;
  background: #111111; 
}
*::-moz-selection {
  color: #ffffff;
  background: #111111;
}


html {
  height: 100%;
  width: 100%;
  font-size: 14px;

  @include mq($from: sm) {
    font-size: 17px;
  }
  @include mq($from: md) {
    font-size: 18px;
  }
  @include mq($from: lg) {
    font-size: 20px;
  }
}

body {
  font-family: $font-content;
  background-color: #191919;  
  color: #e0e0e0;
  font-weight: 300;
  line-height: 1.6em;
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

a { 
  cursor: pointer; /* react eventhandler fix */
  transition: color 500ms, border-color 500ms; 

  &:link, &:visited, &:hover, &:active { 
    text-decoration: none;
    color: #ffffff; 
  } 
/*
&.active {
color: #ffffff;
border-bottom: 3px solid rgba(255,255,255,0.1);
}
*/
}

img {
  width: 100%;
  height: auto;
  &.true-size {
    width: auto;
  }
}

sup {
  margin-left: 0.75em;
  top: -1em;
  font-size: 0.35em;
}

h1,h2,h3,h4,h5 {

  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 160%;

}
p {
  @include mq($until: sm) {
    font-size: 16px;
  }

  font-weight: 300;
  margin: 0 0 1rem;
  padding: 0;

}

.label {
  color: #ffffff;
}

.icon-png {
  width: 32px;
  height: auto;
}
.profile-list {
  width: 25%;
  padding-right: 2rem;
  font-size: 0.9em;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
}

hr {
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,0.1);
  height: 0;
}

em {
  text-decoration: none;
  font-style: normal;
  border-bottom: 3px solid #5a6273;
} 

.sublabel {
  color: #666666;
  margin-bottom: 1rem;
  display: block;
}

.inner, %inner {
  @extend %row;
  max-width: tick(13);
  margin: auto;
  color: #b5b5b5;
  padding: 0 6% 0 6%;

  @include mq($from: xl) {
    padding: 0 3% 0 3%;
  }
  @include mq($from: layout) {
    padding: 0;
  }
}

.left {

  @include left-column-content();
  @include mq($until: md) {
    padding: 0 0 tick(0.5) 0;
  }
  padding: 0 0 tick()  0;

}
.right {
  @include right-column-block();
  @include mq($until: md) {
    padding: 0 0 tick(1) 0;
  }
  padding: 0 0 tick() 0;
}

.full {
  @extend %xs-24;
  @include mq($until: md) {
    padding: 0 0 tick(1) 0;
  }
  padding: 0 0 tick() 0;
}

section {
  position: absolute;
  width: 100%;
}

.content {
  min-height: 100vh;


  @include mq($from: md) {
    margin-bottom: tick(5);
    position: relative;
    z-index: 2;

  }
}
.route-change-appear {
  opacity: 0.01;
}

.route-change-appear.route-change-appear-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.route-change-enter {
  opacity: 0.01;

}

.route-change-enter.route-change-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.route-change-leave {
  opacity: 1;

}

.route-change-leave.route-change-leave-active {
  opacity: 0.01;
  transition: opacity 350ms ease-in;
}



.animated-before {
  opacity: 0;
  transition: opacity 1.5s;
}

.fadeInto {
  opacity: 1;
}

/*
decorators, icons, shorthands
*/

.icon {
  display: inline-block;
} 


.icon:before {
  direction: ltr;
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0.25em;
}

.icon:hover {
  &:before {

    transition: border 500ms;
  }
}
.icon:before {

  color: #FFFFFF;
}


.rect {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
  border: 1px solid rgba(255,255,255,0.1); 
  border-left-color: rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.05);
  transition: color 350ms, background-color 350ms, transform 350ms;
  &:hover {
    color: #ffffff;
    background-color: rgba(255,255,255,0.15);
    transition: color 350ms, background-color 350ms, transform 350ms;


  }  
}


.icon-block:before {
  direction: ltr;
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  transition: border 500ms;
  display: inline-block;
  color: #000000;
  line-height: 1.6em;
  width: 1.75em;
  height: 1.75em;
  vertical-align: bottom;
  text-align: center;
  margin-right: 0.5em;
}

.up:before {
  content: 'keyboard_arrow_up';
}
.down:before {
  content: 'keyboard_arrow_down';
}
.arrowright:before {
  content: 'keyboard_arrow_right';
}
.close:before {
  content: 'close';
}
.location:before {
  content: 'location_on';
}
.face:before {
  content: 'face';
}
.mail:before {
  content: 'mail_outline';
}
.menu:before {
  vertical-align: middle;
  content: 'menu';
}
.person:before {
  content: 'person_pin';
}
.eye:before {
  content: 'remove_red_eye';
}
.web:before {
  content: 'layers';
}
.linknew:before {
  content: 'open_in_new';
}

.tooltip:after {
  content: 'keyboard_arrow_down';
}

.work:before {
  content: 'work';
}

.linkafter:after {
  content: 'open_in_new';
}
.source:before {
  content: 'code';
}
%vm {
  @include vertical-align();
}

.shadow-1 { @include shadow(1); }
.shadow-2 { @include shadow(2); }
.shadow-3 { @include shadow(3); }
.shadow-4 { @include shadow(4); }
.shadow-5 { @include shadow(5); }

