*::selection {
  color: #ffffff;
  background: #111111; 
}
*::-moz-selection {
  color: #ffffff;
  background: #111111;
}

html {
  touch-action: manipulation;
  font-size: 14px;
  @include mq($from: sm) {
    font-size: 17px;
  }
  @include mq($from: md) {
    font-size: 18px;
  }
  @include mq($from: lg) {
    font-size: 20px;
  }
}

body {
  font-family: $font-content;
  background-color: #101010;
  color: #e0e0e0;
  font-weight: 300;
  line-height: 1.6em;
 
  max-width: 100%;
  // Use old style scroll bar for IE10
  -ms-overflow-style: scrollbar !important;
}

#app {
  width: 100%;
 
}
 
 
// Since mobile/iOS does not read overflow on html & body tags,
// we will need to create a wrapper with the overflow property around
// our elements that will be transformed out of the page so it will
// not create a scroll bar on the devices or force scaling.

// Fixed position elements will be promoted to a transformed layer
// causing it to be no longer fixed, so we will only transform the elements
// inside the fixed element and not the fixed element itself.

.main {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  min-height: 100%;

  .menu-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    cursor: w-resize;
  }

  @include mq($until: layoutpad) {
    transition: opacity 350ms ease-out, transform 350ms ease-out;
    &.push .menu-overlay {
      visibility: visible;
      opacity: 0.45;
      transition: opacity 350ms ease-out;
    }
    &.push section,
    &.push .menu-overlay, 
    &.push .project-next .project-next-wrapper,
    &.push footer .footer-wrapper {
      transition: opacity 350ms ease-out, transform 350ms ease-out;
    }
 }
       
  &.push section,   
  &.push .menu-overlay, 
  &.push .project-next .project-next-wrapper,
  &.push footer .footer-wrapper {
    @include mq($until: md) {
      transform: translateX(100%);
    }
    @include mq($from: md, $until: layoutpad) {
      transform: translateX(45%);
    }
  }
}
 
 
section {
  @extend %row;
  background-color: #272727;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 3;    
  transition: opacity 350ms ease-out, transform 350ms ease-out;
  @include mq($from: md) {
    margin-bottom: tick(5);
  } 
  &.no-margin {
    margin-bottom: 0;
  }
}  

.content {
  @include mq($from: md) {
    position: relative;
    z-index: 2;
  }
}

.inner, %inner {
  @extend %row;
  max-width: tick(13);
  margin: auto;
  color: #b5b5b5;
  padding: 0 6% 0 6%;
  @include mq($from: md) { padding: 0 tick(1.5); }
  @include mq($from: lg) { padding: 0 tick(1.5); }
  @include mq($from: layout) {  padding: 0 tick(1); }
  @include mq($from: layoutpad) {  padding: 0; }
}
.left {
  @include left-column-content();
  padding: 0 0 tick(0.5) 0;  
}
.right {
  @include right-column-block();
  padding: 0 0 tick() 0;
  @include mq($until: md) { padding: 0 0 tick(1) 0;}
}


.inner-full {
 
  width: 100%;
  padding: 0;
  @include mq($from: md) {   
    max-width: tick(13);
    margin: auto;
    padding: 0 tick(0.5); 
  }
 
  @include mq($from: lg) { padding: 0 tick(1); }
  @include mq($from: layout) {  padding: 0 tick(0.5); }
  @include mq($from: layoutpad) {  padding: 0; }
 
}


a { 
  // ie/edge position fixed scroll jump fix
  outline: 0 !important;
  // ios react eventhandler fix
  cursor: pointer !important;
  transition: color 500ms, border-color 500ms; 

  &:link, &:visited, &:hover, &:active { 
    text-decoration: none;
    color: #ffffff; 
  } 
}

img {
  width: 100%;
  height: auto;
  &.true-size {
    width: auto;
  }
}

sup {
  margin-left: 0.75em;
  top: -1em;
  font-size: 0.35em;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 160%;
}

h1 {
  @include mq($until:xl) {
    font-size: 1.8rem;
  }
}

p {

  font-size: 15px;
  @include mq($from: sm) {
    font-size: 16px;
  }
  @include mq($from: md) {
    font-size: 17px;
  }
  @include mq($from: lg) {
    font-size: 18px;
  }
  @include mq($from: xl) {
    font-size: 19px;
  }
 
  font-weight: 300;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 160%;
}

.label {
  color: #ffffff;
}

.icon-png {
  width: 32px;
  height: auto;
}
 

hr {
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,0.1);
  height: 0;
}

em {
  text-decoration: none;
  font-style: normal;
  border-bottom: 3px solid #5a6273;
}

.sublabel {
  color: #666666;
  margin-bottom: 1rem;
  display: block;
}
.animated-before {
  opacity: 0;
  transition: opacity 1.5s;
}

.fadeInto {
  opacity: 1;
}

 
%vm {
  @include vertical-align();
}
 

