.project-next {
  height: tick(5);
  position: relative;
     @extend %row;
    @include mq($from: md) {
      position: fixed; 
      bottom: tick(1);
      left: 0;
      right: 0;
      height: tick(4);
 
    }
}

.project-next-wrapper {
 transition: opacity 350ms ease-out, transform 350ms ease-out;
  line-height: 1.6rem;
  background-color: #181818;
  display: block;
    height: tick(5);
    @include mq($from: md) {
     height: tick(4);
    }
  &:hover {
    .next-background {
      transform: none;
      opacity: 1;
      transition: transform 350ms ease-out, opacity 350ms;
    }
  }
  .next-background {
    transform: translateX(-100%);
    transition: transform 350ms ease-out, opacity 350ms;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .inner {
     backface-visibility: hidden;
   @extend %vm;
    .right {
      padding-bottom: 0;
    }

  a {

    font-size: 1.5rem;
    line-height: 160%;
    margin: 0;
  } 
  }
 
}