 
.profile-grid {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
    background-size: tick(1) tick(1);
    background-position: top left;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 2px), linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 2px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    height: tick(6);
}

.profile-title {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: tick(6);

     .inner {
     	 	.left { 
 		padding: 0;
 	}
 		.right {
 			position: relative;
 			height: tick(6);
 	 		z-index: 3;
 		 	animation-duration: 1s;
 		 	animation-delay: 150ms;
		    animation-name: fadeInUp;
		    animation-fill-mode: both;
		    padding: 0;
		    h1 {
		  
			   	position: absolute;
	 			bottom: tick(1);
		    }
 		}
 	}	

}

.profile-me {
	position: absolute;
	top: tick(0.5);
	@include mq($from: sm) {
		top: 0;
	} 
 	left: 25%;
 	right: -15%;
 	width: tick(13);
	@include mq($from: md) {
		left: 0;
		margin: auto;
		width: 425px;
		right: 0;
	} 
	@include mq($from: lg) {
		left: 6%;
		right: 0;
		width: tick(13);
	}
 	@include mq($from: layout) {
		left: 6%;
		right: 0;
	} 
 	@include mq($from: layoutpad) {
		left: 0;
		right: 0;
	} 



	background-size: 450px;
	height: tick(6);
	z-index: 2;
	background-position: left bottom;
	margin: auto;
	background-repeat: no-repeat;
	transform-origin: center;
  		 	animation-delay: 150ms;
	animation-duration: 1s;
	animation-name: zoomFadeIn;
	animation-fill-mode: both;
	background-image: url('http://www.pmhc.co/images/profile/profile_6.png');
  	 
 
}

.profile-animate-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: tick(6);
	overflow: hidden;
}

 .profile-bg {
 	transform-origin: center;
	animation-duration: 1s;
	animation-name: zoomIn;
	animation-fill-mode: both;
	position: relative;
	background-image: url('http://www.pmhc.co/images/profile/profile_bg.jpg');
	background-position: 15%;
	background-size: cover;
	height: tick(6);
	background-color: #202020;
 
 }


.profile {
 
    padding-top: tick(1);
 
	position: relative;
	z-index: 4;
	background-color: #202020;

 	.right {
 		padding-bottom: tick();
 	}
}

.profile-map {
  	.icon:before {
		padding-left: 0;
		margin-left: 0;
	}
    @extend %row;
	&.project-next {
		@include mq($from: md) {
			position: fixed; 
			bottom: 0;
			left: 0;
			right: 0;
			backface-visibility: hidden; //promote layer to prevent repaint
			height: tick(5);
		}
	}
	.project-next-wrapper {
		height: tick(5);
		.inner {
			@extend %vm;
			.right {
				margin-top: 0;
				padding: 0;
			}
		}
	}

}

.profile-list {
	.icon:before {
		padding-left: 0;
		margin-left: 0;
	}
	@include mq($from: xl) {
		display: inline-block;
		width: 25%;
	}
	width: 50%;
	margin-bottom: 2rem;
	font-size: 0.9em;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	padding-right: 1rem;

  ul {
  	margin: 0;
  	padding: 0;
  	li {
  		border-bottom: 1px dotted rgba(255,255,255,0.15);  
		line-height: 320%;
		list-style: none;
  	 }
  }
}


.profile-maps {
 	position: absolute;
	width: 100%;
	height: 100%;
}

.profile-maps > div  {
	width: 100%;
	height: 100%;
	background-color: transparent !important;
}

.profile-overlay {
  	position: absolute;
	width: 100%;
	height: 100%;
 	background-color: rgba(16,16,16,0.6);
}

.profile-contact {
 	display: inline-block;
	.icon:before {
		padding-left: 0;
		margin-left: 0;
	}
  	padding: 2rem 5rem 0 0;
 	small {
 		display: block;
 	}
	p { 
		margin-bottom:  0;
	}

}