//case study active state

.projects-item.active { 
  background-image: linear-gradient(to right, rgba(255,255,255,0.07) 1px, transparent 2px), 
  linear-gradient(to bottom, rgba(255,255,255,0.07) 1px, transparent 2px);
  height: tick(5);
  
  @include mq($from: md) { height: tick(6);}
  @include mq($from: xl) { height: tick(7);}
  @include mq($from: layout) { height: tick(8);}
  .projects-item-details {
   height: tick(5);
 
  @include mq($from: md) { height: tick(6);}
  @include mq($from: xl) { height: tick(7);}
  @include mq($from: layout) { height: tick(8);}
 
  
    /* Overwrite previous mobile :active settings */
    &:active {
      .projects-item-image:nth-child(2) {     
       transform: scale(0.9);
      @include mq($from: sm) {
        transform: scale(0.87);
      }
      @include mq($from: xl) {
        transform: scale(0.8);
      }
     }
   }
   .projects-item-image {
    cursor: initial;
  }

}
.projects-item-overview, .projects-item-bottom > .inner {
  display: none;
}
.projects-item-bottom {
  height: 100%;
  background-color: rgba(26,26,26,0.5);
}

  .projects-item-image {
    z-index: 3;
    &:nth-child(2) {
      top: tick(1.25);
      margin: 0;
      left: 0;
      position: relative;
      float: left;
      width: 100%;
      transform-origin: top center;
       transform: scale(1);
       font-size: 0.75rem;

      @include mq($from: sm) {
        transform: scale(1);
      }
  
      @include mq($from: lg) {
        transform: scale(0.9);
      }
      @include mq($from: xl) {
         font-size: 1rem;
        transform: scale(0.8);
      }
    }
    /*
    &:nth-child(3) {
      animation-delay: 500ms;
      animation-duration: 1.5s;
      animation-name: fadeInLeft;
      animation-fill-mode: both;

      @include shadow(5);
      top: tick(2);
      width: 100%;
      transform-origin: top left;
      transform:  scale(1 * 17.5/24);
      @include mq($from: sm) {
        transform: scale(1 * 13.5/24);
      }
      @include mq($from: md) {
        top: tick(2.5);
      }
      @include mq($from: layout) {
        margin-left: 0;
      }
    }
    */
  }
}

.projects-case {
  position: relative;
  @extend %row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-top: tick(0.5);
  @include mq($from: lg) {
    padding-top: tick(1);
  }
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.25);

  ol {
   padding: 0;
   margin: 0;
   list-style: none;
   counter-reset: section; 
   color: #fff;

	//ol reveal state
	&.active {
		li {
			opacity: 1;
			transform: translateY(0);
			transition: transform 350ms, opacity 350ms;
		}
	}
	li {
		transform: translateY(25px);
		opacity: 0;
		// li selected state
		&.active {
			.rect {
				color: #ffffff;
       background-color: rgba(255,255,255,0.15);
     }
     .rect:after {
      transform: rotate(45deg);
    }
    p, .project-case-meta  {	

      transform: translateY(0);
      padding: 1rem 0 0 0;
      height: auto;
      opacity: 1;
      transition: opacity 1s, transform 350ms;

    }
    p:last-child {
      padding-bottom: 1rem;
    }
    .project-case-meta {
     margin: 1.5rem 0;
     font-size: 0.9rem;
     border-top: 2px solid rgba(255,255,255,0.1);
   }
 }

		// reveal delays
		&:nth-child(1) { transition-delay: 150ms; }
		&:nth-child(2) { transition-delay: 300ms; }
		&:nth-child(3) { transition-delay: 450ms; }
		&:nth-child(4) { transition-delay: 600ms; }
		&:nth-child(5) { transition-delay: 750ms; }
		&:nth-child(6) { transition-delay: 900ms; }
	}


	.rect {
	 clear: both;
	 cursor: pointer;
   display: block;
   padding: 0;
   font-size: 0.95rem;
   margin: 0.25rem 0;
  }
   .rect:before {
    counter-increment: section;
    content: counter(section);
    background-color: rgba(255,255,255,0.1);
    width: 4rem;
    text-align: center;
    display: inline-block;
    margin-right: 2rem;
    padding: 0.75rem;
  }
  .rect:after {
    @extend %icon;
    position: relative;
    top: 0.75rem;
    font-size: 1.5rem;
    padding: 0.75rem;
    margin: 0 0.5em;
    float: right;
    background-image: url('../svg/add.svg');
    transition: transform 350ms;
  }

  p, .project-case-meta  {
    clear: both;
    transform: translateY(-15px);
    color: #b5b5b5;
    margin: 0;
    opacity:  0;
    height: 0;
    overflow: hidden;
  }

  .project-case-label {
    float: left;
    color: #e0e0e0;
  }

  .project-case-info {
    float: right;
    span {
     border: 2px solid rgba(255,255,255,0.1);
     background-color: rgba(0,0,0,0.2);
     border-radius: 4px;
     padding: 0 0.35em;
     display: inline-block;
     margin-right: 3px;
     margin-bottom: 3px;
     color: #c0c0c0;
   }	 
  }

}
  .project-case-desc {

    a {
      &:before {
        margin-right: 1rem;

      }
      &:after {
        transition: opacity 350ms;
        opacity: 0;
        float: right;
        margin-top: 0.25em;
        margin-right: 0.25em;
        background-image: url('../svg/arrow_forward.svg');
        @extend %icon;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:first-child {
       border-top: 1px solid rgba(255,255,255,0.075);
      }
      display: block;
      border-bottom: 1px solid rgba(255,255,255,0.075);
      padding: 0.5rem 0;
    }
  	margin-top: tick(0.5);
  }
}


.grid {
  padding: tick() 0;
  background-color: rgba(26,26,26,0.35);
  background-size: tick(1) tick(1);
  background-position: top left;
  background-image: linear-gradient(to right, rgba(229,230,230, 0.02) 1px, transparent 2px), 
  linear-gradient(to bottom, rgba(230,230,230,0.02) 1px, transparent 2px);
}


figure {

  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: tick(0.5);
  padding: 0 6% tick(0.5) 6%;
  @extend %row;
  &:last-child {
    margin-bottom: 0;
  }
 
  @include mq($from: lg) {
    padding: tick() tick(2) tick() 0;
    figcaption {
      position: absolute;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: top left;
      text-align: right;
    }
    img {
      margin-left: tick();
    }
  }

   
  figcaption {
    width: 100%;
    float: left;
 
    line-height: tick();
 
    overflow: hidden;
    color: rgba(255,255,255,0.2);
  }

  img {
    @include shadow(6);
  }




 }