/* Header Component */

nav.nav-primary {
 
   padding-right: 4%;
 
  @include mq($from: layoutpad) {
    padding: 0;
 
  }
overflow: hidden;
 
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
 
  line-height: tick(1);
  vertical-align: top;
   .nav-logo {      
    height: tick();
    @include mq($until: layoutpad) {
      display: inline-block;
    }
      
    display: block;
    font-size: 1.2rem;
    color: #ffffff;
    a {
      display: block;
      font-size: 2.5rem;
      width: tick();
      height: tick();
      line-height: tick();
      font-weight: 400;
 
      color: #ffffff;
      text-align: center;
      background-color: rgba(255,255,255,0.25);
      //  background-color: rgba(0,0,0,0.75);
    }
  }
  /* right navigation */
  .nav-links {
    @include mq($until: layoutpad) {
      display: inline-block;
    }
      
    vertical-align: top;
    font-size: 1.25rem;
    height: 100%; 
    display: block;
    white-space: nowrap;  
    .nav-select {
      display: block;
      @include mq($until: layoutpad) {
        display: inline-block;
      }
      width: tick();
      height: tick();
      background-color: rgba(255,255,255,0.05);
      transition: background-color 350ms;
      &:hover {
        background-color: rgba(255,255,255,0.25);
      }
      &:first-child {
        background-color: rgba(255,255,255,0.1);
        &:hover {

          background-color: rgba(255,255,255,0.25);
        }
      }
    } 

    a {
      text-align: center;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      display: block;
      color: #c0c0c0;
     &:hover {
      color: #ffffff;
     }
    }
  }
}
 


    .nav-top {
 
      z-index: 6;
      position: fixed;
      bottom: 0;
      right: 0;
      height: tick();
      font-size: 3rem;

      a {
        line-height: tick();
        transition: transform 350ms, opacity 350ms;
        opacity: 0;
        &:hover {
            transform: translateY(-12px);
        }
        &.show {
          opacity: 1;
        }
      }
    }




