.projects2 {
   background-size: tick() tick();
   background-color: rgb(38,41,48);
   background-position: top center;
   background-image: linear-gradient(to right, rgba(255,255,255,0.04) 1px, transparent 1px), 
  linear-gradient(to bottom, rgba(255,255,255,0.04) 1px, transparent 1px);
   height: 100%;
   width: 100%;


}