 
.projects-item {
 
  border-top: 1px solid rgba(255,255,255,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.03);
  background-size: tick(1) tick(1);
  background-position: top left;
  background-image: linear-gradient(to right, rgba(255,255,255,0.02) 1px, transparent 1px), 
  linear-gradient(to bottom, rgba(255,255,255,0.02) 1px, transparent 1px);
  @extend %row;
  overflow: hidden;
  position: relative; 
  height: tick(6);


  .projects-item-title {
    @include mq($until: lg) {
      margin: tick(0.6) 0 tick(0.4);
    }
    margin: tick(0.8) 0 tick(0.3);
 
 
    white-space: nowrap;
    font-size: 2rem;

    color: #ffffff;
 
 
    sup {
      margin-left: 0.75em;
      top: -1em;
      font-size: 0.35em;
    }

  }

  .projects-item-details {

     @extend %inner;
     height: tick(4);
     position: relative;


    @include mq($until: sm) {

 
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;  

      .projects-item-image {
         cursor: ew-resize;
      }

      &:active {

        .projects-item-desc {
          opacity: 1;
        }

        .projects-item-image {
          transform: translateX(60%);
        }
      }
    }

 
  }



 
  .projects-item-overview {
 
    @include left-column-offset();    
    @extend %xs-15;
    @extend %sm-11;
    @extend %md-11;
    @extend %lg-9;
    @extend %xl-8;
 
 
     height: tick(4);
    color: #A0A2A4;

  }


  .projects-item-desc {

height: tick(2.5);
 
   display: table-cell; 
  vertical-align: middle; 
    transition: opacity 350ms;
 

      @include mq($until: sm) {

        opacity: 0.15;
      }
      
 
    span {
      border: 2px solid rgba(255,255,255,0.1);
      background-color: rgba(0,0,0,0.2);
      border-radius: 4px;
      padding: 0 0.35em;
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 3px;
      color: #c0c0c0;

    }
  }

  .projects-item-image {
    @extend %xs-offset-3;
    @extend %sm-offset-12;
    @extend %md-offset-12;
    @extend %lg-offset-10;
    @extend %xl-offset-9;

    @extend %xs-24;
    @extend %sm-24;
    @extend %md-24;
    @extend %lg-20;
    @extend %xl-15;

    position: absolute;
    top: tick(0.75);
    z-index: 3;
    opacity: 1;
    transition: transform 350ms, opacity 350ms;
    left: 0; 
    height: tick(8);

  
    @include shadow(4);



    @include mq($until: md) {
      z-index: 1;
      top: tick(1.25);
      height: tick(5);
      img {
        -webkit-user-select:none;
        -webkit-touch-callout:none;
        width: 140%;
        height: auto;

      }
 

    }
  }
  .projects-item-bottom {

 
    position: absolute;
    bottom: 0;
    z-index: 2;
    float: left;
    width: 100%;
 
    height: tick(1);
    text-align: center;
              background-color: rgba(0,0,0,0.45);
      @include mq($from: sm) {
        text-align: left;
         background-color: rgba(26,26,26,0.35);
        height: tick(2);
      }
  }
  .inner {
    height: auto;
    position: relative;
    @include left-column-offset();
       @extend %vm;
  }
  .projects-item-view {  

    width: 47%;
       @include mq($from: sm) {
        width: auto;
      }
  }


}




.projects-item.active {
  background-image: linear-gradient(to right, rgba(255,255,255,0.07) 1px, transparent 1px), 
  linear-gradient(to bottom, rgba(255,255,255,0.07) 1px, transparent 1px);
   height: 75vh;
  transition: height 350ms 350ms;
 
 

  .projects-item-overview, .projects-item-bottom > .inner {
     transition: opacity 350ms;
     opacity: 0;
  }

  .projects-item-bottom {
      transition: height 350ms;
      height: 75vh;
  }

  .projects-item-image {
    transition: margin 350ms, width 350ms, transform 350ms 350ms;
    @extend %xs-offset-1;
    @extend %xs-22;
    

    transform: translateY(tick(-4));
 


  }


}