.projects-header {
    background-size: tick(1) tick(1);
    background-position: top left;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    height: tick(6);
    .inner {
        @extend %vm;
        height: tick();
    }
}

.projects-list {
	width: 100%;
}

.projects,
.projects-header {
         
 
 @extend %row;
padding-bottom: tick();

.inner:after {
	clear: both;
	content: '';
	display: table;
}
 
    color: #b5b5b5;
     a {
        line-height: 1.6em;
        font-size: 2rem;
        display: inline-block;
        transition: box-shadow 350ms;
        &:before {
            display: inline-block;
            height: 3px;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.1);
            transition: padding-right 350ms;
            content: ' ';
        }
    }
    a:hover {
        &:before {
            margin-right: 0.5rem;
            padding-right: 1rem;
            transition: padding-right 350ms, margin-right 350ms;
        }
    }
    .projects-left {
        @include left-column-content();
        @include mq($until: md) {
            padding: tick(0.5) 2% tick(0.5) 0;
        }
        padding: tick() 2% 0 0;
    }
    .projects-right {
        @include right-column-block();
        @include mq($until: md) {
            border-top: 1px solid #272727;
            padding: tick(0.5) 2% tick(0.5) 0;
        }
        padding: tick() 0 0 2%;



    }
}



.projects-expanded {

  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.45);


    span {
      border: 2px solid rgba(255,255,255,0.1);
      background-color: rgba(0,0,0,0.2);
      border-radius: 4px;
      padding: 0 0.35em;
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 3px;
      color: #c0c0c0;

    }

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	color: #fff;
	li {
		padding-left: 1rem;
	}
}



}


.grid {
 background-color: rgba(26,26,26,0.35);
	  background-size: tick(1) tick(1);
  background-position: top left;
  background-image: linear-gradient(to right, rgba(255,255,255,0.02) 1px, transparent 1px), 
  linear-gradient(to bottom, rgba(255,255,255,0.02) 1px, transparent 1px);
}