.footer {
 
 overflow: hidden;
 	height: auto;
	    width: 100%;
 
 	.footer-row {
background-color: #171717;

 	 	@extend %row;
	 	height: tick(1);
 
	 	line-height: tick(1);
	 

		a {
	 
			font-size: 1rem;
			margin: 0 0.5rem;
 

		} 

		.footer-left {
			@include left-column-content();

	 		padding: 0 2% 0 0;
		}


		.footer-right {
			@include right-column-block();
	 		padding: 0 0 0 2%;
	  
		}

 	}
 
  
}

 