$font-primary: "futura-pt",sans-serif;
$font-extra: "nimbus-sans", sans-serif;
$font-content: "nimbus-sans", sans-serif;
$Mobile: 'only screen and (min-width : 320px)';
$Xsmall: 'only screen and (min-width : 560px)';
$Small: 'only screen and (min-width : 768px)';
$Medium: 'only screen and (min-width : 992px)';
$Large: 'only screen and (min-width : 1200px)';
$XLarge: 'only screen and (min-width : 1400px)';
$m4k:  'only screen and (min-width :2060px)';
$Fs: 'only screen and (min-height : 220px) and (min-width :168px)';

@import "partials/grid";
@import 'partials/mixin';
@import 'partials/animate';
@import 'partials/global';


 

/*!
 * PMHC.co default stylesheet
 */

 
/* Header */
.header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .logo {      
   font-size: 1.9em;
   line-height: 2.5em;
   font-weight: 400;
   letter-spacing: -1px;
    color: #ffffff;
    /* logo block */
    div {
      width: 2.5em;
      text-align: center;
      height: 2.5em;
      line-height: 2.5em;
      background-color: rgba(255,255,255,0.15);
     //  background-color: rgba(0,0,0,0.75);
      font-weight: 400;
  
 
    }
  }
  /* right navigation */
  nav {
    font-size: 1.1em;
    .header-menu {
      font-size: 1.35em;

    }
    a { 
      margin-left: 2em;
      line-height:95px;
       &:hover {
        color: #ffffff;
       }

 
    }
  }
}

/* Hero */
#hero-particle {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 33%;
  canvas {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
}
.hero {
  /* optimizations to remove scroll jankiness */
  will-change: transform;
 -webkit-transform: translate3d(0,0,0);

  background-color: #ffffff;
  background-image: url('../img/mountain_night.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;

  display: table; 
  .hero-vwrapper {
     display: table-cell; 
     vertical-align: middle;
     a {
        margin-right: 5%;
     }
  }
  .hero-msg {
   font-size: 1.2em;  
    @media #{$Small}  {    font-size: 1.5em;  } 
    @media #{$Medium} {   font-size: 1.75em;  } 
    @media #{$Large}  {   font-size: 1.85em; }
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 0.5em;

 
    span {
      color: #f0f0f0;
      display: inline;
      &:after {
        content: ' ';
      }
      //add a bit more fun for large devices
      @media #{$Large}  { 
        &:after {
          content: '';
        }

        overflow: hidden;
        display: block; 
        span {
          animation-duration: 1.5s;
          animation-name: fadeInUpHidden;
        }
      }
    }
  }
}





  .wrapper-project-item {
 
    sup {
      top: -1em;
      font-size: 0.35em;
    }
  }
  a {
    &:hover {
      color: #ffffff;
    }
  }
 
 
.animated-before {
  opacity: 0;
  transition: opacity 1.5s;
}

.wrapper-animated {
    margin-top:  90vh;
}

 
.content-bg {
  position: relative;
  .row {
    padding: 1.5em 0;
  }
  z-index: 2;
  min-height: 100vh;
  .label {
    color: #555555;
  }
 
  color: #555555;
  background-color: #F8F8F8;
}

.content-bg-black {
  .label {
    color: #f8f8f8;
  }
  background-color: #202020;
  color: #ffffff;
}
 



/* project, project-viewer, project-list, etc. */


.projects {
  padding: 3em 0 !important;
  background-color: #262930;
  color: #c0c0c0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
 
}

 
.project-title {
  color: #e0e0e0;
}

.project-item-link {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  font-size: 2em;
}

.project-item {
  padding-right: 2em;
  padding-bottom: 2em;
  font-weight: 300;
  .project-name {
    font-size: 1.25em;
  }
  .project-desc {
    font-size: 1.15em;
    color: #A0A0A0;
  }

}   


.project-details {
  margin-top: 3em;
  width: 100%;
 overflow: hidden;
 
 margin-bottom: -3em;
 
}


.project-ss {
  z-index: 1;
  height: 300px;
  position: relative;
}

.project-bottom {
  background-color: rgba(0,0,0,0.25);
  padding: 3em 0;
  margin-bottom: -2em;
}

/* 
For some reason, animate.css' animation-duration + opacity only keyframes 
causes jank (even with translateZ(0) technique), resorting to transitions instead.
*/

.fadeInto {
  opacity: 1;
}





/*
  decorators, icons, shorthands
*/



.icon-wave {
 
  display: inline-block;
  background-image: url('../img/wave.svg');
  width: 2em;
  height: 2em;
  @media #{$Medium} { 
    width: 4em;
    height: 4em; 
  }
  margin-top: -0.5em;
  /*
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: waveHand;
  animation-name: waveHand;
  -webkit-animation-iteration-count: infinite; 
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
  */
}

 
.icon:hover {
  &:before {
    border: 2px solid rgba(255,255,255,1);
    transition: border 500ms;
  }
}


.icon:before {
    direction: ltr;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: border 500ms;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.1);
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 1.6em;
    width: 1.75em;
    height: 1.75em;
    vertical-align: bottom;
    text-align: center;
    margin-right: 0.5em;
}


.icon-black:hover {
  &:before {
    border: 2px solid rgba(0,0,0,0.6);
    transition: border 500ms;
  }
}


.icon-black:before {
    direction: ltr;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: border 500ms;
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.1);
    color: #666666;
    border-radius: 50%;
    line-height: 1.6em;
    width: 1.75em;
    height: 1.75em;
    vertical-align: bottom;
    text-align: center;
    margin-right: 0.5em;
}

.icon-block:before {
    direction: ltr;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    transition: border 500ms;
    display: inline-block;
  
    color: #000000;
    line-height: 1.6em;
    width: 1.75em;
    height: 1.75em;
    vertical-align: bottom;
    text-align: center;
    margin-right: 0.5em;
}

.arrowdown:before {
  content: 'keyboard_arrow_down';
}
.arrowright:before {
  content: 'keyboard_arrow_right';
}
.close:before {
  content: 'close';
}
.location:before {
  content: 'location_on';
}
.face:before {
  content: 'face';
}
.mail:before {
  content: 'mail_outline';
}
.menu:before {
    vertical-align: middle;
  content: 'menu';
}
.person:before {
  content: 'person_pin';
}


.expand:before {
    direction: ltr;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

  transition: border 500ms, transform 500ms;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0.1);
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 1.6em;
    width: 1.75em;
    height: 1.75em;
    vertical-align: bottom;
 
  text-align: center;
  content: 'add';
}

.expand {
  &:hover {
    &:before {
      transform: rotate(45deg);
      border: 2px solid rgba(255,255,255,1);
      transition: border 500ms, transform 500ms;
    }
  }
}


 





ol {
 list-style: none;
 margin:0;
 padding: 0;

  li {
   counter-increment: item;
   margin: 0;
   padding: 0;
   font-weight: 300;
   color: #A0A0A0;
  }
  li:before {
    content: counter(item);
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
 
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin-right: 0.5em;

  }
 
   
  li p {
    color: #000000;
    padding: 0 40px 0 40px;
    line-height: 1.75em;

  }

}


ol.alt {
  font-size: 1.25em;
  li {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  li:before {
    margin-right: 2em;
    border: 1px solid rgba(255,255,255,0.1);
  }
}



ul.spec {
 margin:0;
 padding: 0;
  li {
     list-style: none;
     margin:0;
     padding: 1em;
      font-weight: 300;
      border-bottom: 1px solid rgba(0,0,0,0.1)
  }

}
 

.vm {
  @include vertical-align();
}

.browser-mockup {
  border-top: 1em solid rgba(240,240,240,0.75);
  background-color: transparent;
  position: relative;
  border-radius: 3px 3px 0 0;
  img {
    border-radius: 0 0 3px 3px;
  }
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -0.6em;
  left: 1em;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background-color: #8b8b8b;
  box-shadow: 0 0 0 2px #8b8b8b, 1em 0 0 2px #8b8b8b, 2em 0 0 2px #8b8b8b;
}


.shadow-1 { @include shadow(1); }
.shadow-2 { @include shadow(2); }
.shadow-3 { @include shadow(3); }
.shadow-4 { @include shadow(4); }
.shadow-5 { @include shadow(5); }

 