/*!
 * PMHC.co default stylesheet
 */
 
$font-content: "nimbus-sans", sans-serif;

/* 
 * Bootstrap config
 */

$bootstrap-col-name: '';
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;

$grid-columns:               24 !default;
$grid-gutter-width:          0 !default; // 30px

/* 
 * mq config
 */
$mq-responsive: true;
$mq-breakpoints: (
  sm: map-get($grid-breakpoints, sm),
  md: map-get($grid-breakpoints, md),
  lg: map-get($grid-breakpoints, lg),
  xl: map-get($grid-breakpoints, xl),

/* 
 * mq tweakpoints
 */
  layout: 1400px,
  layoutpad: 1600px
);
 
//$mq-show-breakpoints: (sm, md, lg, xl);

/*
 * Common extends
 */
@function tick($unit: 1){
  @return $unit*5rem;
}

@mixin left-column-content() {
  @extend %xs-24;
  @extend %sm-24;
  @extend %md-24;
  @extend %lg-7;
  @extend %xl-7;
}

@mixin right-column-block() {
  @extend %lg-offset-2;
 
  @extend %xs-24;
  @extend %sm-24;
  @extend %md-24;
  @extend %lg-15;
  @extend %xl-15;
 }

/* 
 * Library
 */
@import 'partials/mq';
@import "bootstrap-sass/bootstrap-reboot";
@import "bootstrap-sass/bootstrap-grid";
@import 'partials/mixin';
@import 'partials/animate';

/* 
 * Component styles
 */
@import 'partials/global';
@import 'partials/icons';
@import 'partials/navigation';
@import 'partials/csstransition';
@import 'partials/hero';
@import 'partials/projects';
@import 'partials/project-list-item';
@import 'partials/profile';
@import 'partials/next';
@import 'partials/footer';


  