*::selection {
  color: #ffffff;
  background: #111111; 
}
*::-moz-selection {
  color: #ffffff;
  background: #111111;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: $font-content;
  font-size: 16px;
  margin: 0;
  padding: 0;
    line-height: 1.6em;
 
    @media #{$Xsmall} { font-size: 16px;      } 
    @media #{$Small} { font-size: 17px;     } 
    @media #{$Medium} { font-size: 18px;       } 
    @media #{$Large} { font-size: 19px;      }
    @media #{$XLarge} { font-size: 20px;      }
    @media #{$m4k} { }

}
a { 
  transition: color 500ms; 
}

a:link, a:visited { 
  text-decoration: none;
  color: #A0A0A0; 

} 
a:hover   { 
  text-decoration: none;
  color: #000000; 

}  
a:active  { 
  text-decoration: none;
  color: #000000; 
}  

img {
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
  margin: 0;
  padding: 0;
     line-height: 1.6em;
}

h3 { 
  span {
    font-size: 1.2em;
    font-weight: 300;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 300;
 
}



#particles-js {
    z-index: 1;
 

  position: fixed;
 
  left: 0;  
  bottom: 0;
  width: 100% !important;;
  height: 50% !important;;
}
#triangleBg {
 

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100% !important;;
  height: 100% !important;;

  canvas {
 
    width: 100% !important;;
    height: 100% !important;;
  }

}
