 
/*!
 * PMHC.co
 * Config and variables
 */

/* Breakpoints */
 
$font-primary: "futura-pt",sans-serif;
$font-extra: "nimbus-sans", sans-serif;
$font-content: "aktiv-grotesk", sans-serif;

 
$susy: (
  columns: 24,
  container: 1860px,
  gutters: 0,
  global-box-sizing: border-box,
  gutter-position: inside,
  debug: (overlay: show)
);

 