				<section class="row header">
			 
					<div class="col-xs-22 col-xs-offset-1 col-lg-20 col-lg-offset-2">
						<!-- header logo -->
						<div class="row header-nav">
							<div class="col-xs-16 col-md-12">
								<div class="logo" id="header">Philip Chung</div>
							</div>


							<div class="col-xs-8 col-md-12 pull-right">
								<!-- navigation -->
								<nav class="hidden-xs">
									<a href="#">Profile</a>
									<a href="#">Projects</a>
									<a href="#">Contact</a>
									<a href="#">&#9776;</a>
								</nav>
							</div>
							
						</div>
						<!--header mast-->
						<div class="row mast">
					  		<div class="col-xs-24 col-md-9 col-lg-9 desc">
						  		<h3>
						  		<span>XIVDPS</span> <br />
						  		Gameplay logging and analysis tool for <a href="http://www.finalfantasyxiv.com/">Final Fantasy XIV</a>

						  		<hr />
						  		<div class="desc-small">
							  		<span>Date&nbsp;&nbsp;</span>2015 <br />
							  		<span>Stack</span>C#, Node.js, MySQL, PHP, JQuery
						  		</div>

						  		</h3>
					  		</div>
					  		<div class="col-xs-24  col-md-15 screen">
					  			<img src="./img/1.png" alt="XIVDPS Screen 1" />
			 
					  		</div>

			 

						</div>
					</div>
			 
				</section>