	<section class="row index bg-white" ui-scrollpoint>
		<!-- index row -->
 

			<div class="col-xs-offset-6 col-xs-12 col-lg-8 col-lg-offset-8">
				<ol>
					<li><a href="#o" class="hidden-xs">Overview</a></li>
					<li><a href="#d" class="hidden-xs">Description</a></li>
					<li><a href="#s" class="hidden-xs">Specification</a></li>
				</ol>
			</div>


	</section>
 
	<section class="row bg-alt">

 
		<div class="col-xs-22 col-xs-offset-1 col-lg-20 col-lg-offset-2">
		 	<div class="row" id="o">

 
				<div class="col-xs-24 col-lg-12 content">
			 	
						<span>Specification</span>
							<p>
		 			 
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		 				
		  
				 			<p>
							<span>Specification</span>
				 			<a href="#">Lorem</a>
				 			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				 			</p>
		 
		 			
				 			<p>
				 			<span>Specification</span>
				 			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				 			</p>
		 			
				</div>
 

		 		<div class="col-xs-24 col-lg-12 content">
					<div class="screenshot">
						<div></div>
					</div>
				</div> 
			</div>



		 	<div class="row" id="o">

 
				<div class="col-xs-24 col-lg-12 content">
		 					<span>Specification</span>
							<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		 				
		 					<span>Specification</span>
				 			<p>
				 			<a href="#">Lorem</a>
				 			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				 			</p>
		 
		 			
				 			<p>
				 			<span>Specification</span>
				 			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				 			</p>
		 			
				</div>
 

		 		<div class="col-xs-24 col-lg-12 content">
					<div class="screenshot">
						<div></div>
					</div>
				</div> 
			</div>











		</div>
  
 
 
	</section>